# --- Root level ignores ---
.DS_Store
.env
node_modules/

# --- Frontend specific ignores ---
/frontend/node_modules/
/frontend/dist/
/frontend/.next/

# --- Backend specific ignores ---
/backend/node_modules/
/backend/build/
/backend/.env.local
